/* Global Styles */
body {
    font-family: 'Arial, sans-serif';
    background-color: #FFFFFF; 
    color: #424242; 
    margin: 0;
    padding: 0;
}

a {
    color: #FFB74D;
    text-decoration: none;
}

a:hover {
    color: #66BB6A;
}

/****** HEADER *******/

/* Stylisé le burger */

.hamburger-menu{
    display: none;
  }

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 10;
  }
  
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-bottom: 5px;
    transform-origin: center;
  }
  
  /* Burger en Vortex */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
  }
  
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-135deg);
  }

  /* Mobile Menu */
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* Fermer le menu */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

header {
    background-color: #FFB74D; 
    color: #FFFFFF;
    padding: 10px 20px;
}

header a {
    color: #FFFFFF;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

.img_logo{
    height: 100px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

/* Buttons */
.button-primary {
    background-color: #FFB74D; 
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-primary:hover {
    background-color: #66BB6A; 
    color: #FFFFFF;
}

.button-secondary {
    background-color: #4FC3F7;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #66BB6A; 
    color: #FFFFFF; /* Blanc */
}

/* Sections */
.section {
    padding: 20px;
    margin: 20px 0;
}
.bloc_card{
    display: flex;
}
.section-primary {
    background-color: #4FC3F7; 
    color: #FFFFFF;
}

.section-secondary {
    background-color: #FFFFFF;
    color: #424242; 
}

/* Product Cards */
.product-card {
    background-color: #FFFFFF;
    border: 1px solid #4FC3F7; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 25%;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #4FC3F7;
    margin-bottom: 15px;
}

.product-card h2 {
    color: #FFB74D;
    font-size: 18px;
}

.product-card p {
    color: #424242;
}

.product-card .price {
    color: #66BB6A;
    font-size: 20px;
    font-weight: bold;
}

.product-card .button-primary {
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #FFB74D; 
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #66BB6A;
}  

/****** MEDIA QUERIES ******/

/*** Tablette ***/

/*** Portable ***/

@media only screen and (max-width: 767px)  {

    .hamburger-menu{
      display: block;
    }  
  
  }
  
  